.photo {
  height: auto;
  max-width: 180px;
  margin: auto;
}
.ico {
  margin: auto;
  margin-top: 5px;
  color: white;
}

.icodiv {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.htmarg {
  margin-top: 20px;
}

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  background-color: #000c42;
}

.header__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link_b {
  color: white;
  text-decoration: none;
}
.botton {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-radius: 50px;
  border-width: thin;
}
@media only screen and (min-width: 426px) {
  .ico {
    margin: 15px;
  }
  .botton {
    font-size: 24px;
  }
}
