.hero {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 222px;
  width: 100%;
}

.aboveTitle {
  color: var(--Cinder-Light, #656d72);
  letter-spacing: 7.5px;
  font: 500 12px/24px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.name {
  color: var(--Purple, #7e74f1);
  margin-top: 16px;
  font: 700 54px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.highlight {
  color: var(--Purple, #7e74f1);
}

.description {
  color: var(--Cinder, #232e35);
  margin-top: 36px;
  font: 400 16px/32px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.socialIcons {
  width: 275px;
  aspect-ratio: 3.72;
  object-fit: contain;
  margin-top: 36px;
}

.heroImage {
  width: 100%;
  aspect-ratio: 0.84;
  object-fit: contain;
}

@media (max-width: 991px) {
  .hero {
    max-width: 100%;
    margin-top: 40px;
  }

  .name {
    font-size: 40px;
  }

  .description,
  .socialIcons {
    max-width: 100%;
  }
}
