.logoContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logoIcon {
  width: 34px;
  aspect-ratio: 0.97;
  object-fit: contain;
}

.logoText {
  width: 70px;
  aspect-ratio: 2.5;
  object-fit: contain;
}
