.navigation {
  display: flex;
  align-items: center;
  gap: 40px 56px;
  color: var(--Cinder, #232e35);
  font: 400 16px Inter, sans-serif;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.navLink:hover {
  text-decoration: underline;
}

.navIcon {
  width: 12px;
  aspect-ratio: 4;
  object-fit: contain;
}

@media (max-width: 991px) {
  .navigation {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
