.Page-footer {
  background-color: #000c42;
  min-height: 1rem;
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  width: 100%;
}

.Page {
  text-align: left;
  background-color: #e7e7e7;
  min-height: 100vh;
  display: center;
  position: relative;
}

.Page-body{
  margin: auto;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 2.5rem;
  display: center;
}

.Page-text{
  font-size: calc(4px + 2vmin);
}

.indent{
  text-indent: 40px
}