.testimonial {
  background: var(--Light-1, #fbfbfb);
  padding: 129px 80px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.aboveTitleLine {
  background: var(--Light-4, #d9d9d9);
  width: 16px;
  height: 2px;
}

.aboveTitle {
  color: var(--Cinder-Light, #656d72);
  letter-spacing: 7.5px;
  font: 500 12px/24px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.title {
  color: var(--Cinder, #232e35);
  margin-top: 9px;
  font: 700 36px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.items {
  display: flex;
  margin-top: 132px;
  gap: 40px 48px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 991px) {
  .testimonial {
    padding: 100px 20px;
  }

  .items {
    margin-top: 40px;
  }
}
